<div class="container">
  <header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
      <li class="nav-item"><a [routerLink]="['/login']" class="nav-link active" aria-current="page">login</a></li>
      <li class="nav-item"><a [routerLink]="['/registro']" class="nav-link">registro</a></li>
      <li class="nav-item"><a [routerLink]="['/lista']"class="nav-link">listado</a></li>
      <li class="nav-item"><a [routerLink]="['']" class="nav-link">About</a></li>
    </ul>
  </header>
</div>

