<main class="form-signin w-100 m-auto">
  <form [formGroup]="formValidation">
   <!-- <img class="mb-4" src="https://getbootstrap.com/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
   --> <h1 class="h3 mb-3 fw-normal">Autenticación</h1>
    <div class="form-floating">
      <input formControlName="user" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">usuario</label>
    </div>
    <div class="form-floating">
      <input formControlName="pwd" type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Clave</label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit" (click)="login()">Ingresar</button>
  </form>
</main>
