<app-header></app-header>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">nombre</th>
    <th scope="col">tipo</th>
    <th scope="col">cantidad</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let lista of listas; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>
      <img
        [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag"
        class="me-2"
        style="width: 20px"
      />
      {{ lista.name }}
    </td>
    <td>{{ lista.tipe  }}</td>
    <td>{{ lista.quantity }}</td>
  </tr>
  </tbody>
</table>
