<div class="container">
  <main>
    <div class="row g-5">
      <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">Registro Base</h4>
        <form [formGroup]="formRegistro" class="needs-validation">
          <div class="row g-3">
            <div class="col-sm-6">
              <label for="firstName" class="form-label"> name</label>
              <input type="text" formControlName="name" class="form-control" id="firstName" placeholder="" value="" required>
              <div class="invalid-feedback">
                Valid first name is required.
              </div>
            </div>

            <div class="col-sm-6">
              <label for="lastName" class="form-label">tipe</label>
              <input type="text" class="form-control" formControlName="tipe" id="lastName" placeholder="" value="" required>
              <div class="invalid-feedback">
                Valid last name is required.
              </div>
            </div>

            <div class="col-12">
              <label for="address" class="form-label">quantity</label>
              <input type="text" class="form-control" formControlName="quantity" id="address" placeholder="1234" required>
              <div class="invalid-feedback">
                Please enter your shipping address.
              </div>
            </div>

          </div>

          <button class="w-100 btn btn-primary btn-lg" type="submit" (click)="save()">registrar</button>
        </form>
      </div>
    </div>
  </main>
</div>
